/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

div.info-cont {
  height: 50px;
  margin: 0;
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* text-align: center;
  margin-top: 50px !important; */
}

.sidebar-a:link,
.sidebar-a:visited {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.active {
  background: #999;
}

ul.dashbord-list-item li a:hover {
  color: tomato;
}

.admin-image {
  height: 60px !important;
  margin-top: 20px;
}

.admin-image:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.login,
.landing,
.forgot-password,
.reset-password,
.loading {
  min-height: 80vh !important;
}

.register-admin {
  min-height: 80vh;
  margin-top: 100px;
}

footer {
  padding: 10px;
  width: 100%;
  margin-bottom: 0;
  /* height: 100px; */
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  div.sidebar {
    display: none !important;
  }
  ul.sidebar-header-ul {
    display: block;
  }
  #root {
    position: relative;
    min-height: 100vh;
  }

  .wrapper {
    margin-bottom: 100px;
  }

  .chart {
    margin-top: 100px;
  }

  footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100px;
  }
}

@media screen and (min-width: 992px) {
  div.sidebar {
    margin: 0;
    padding: 0;
    /* background: #000; */
    /* background: #5bc0de; */
    background: #5bc0de !important;
    min-height: 90vh;
  }

  /* div.info-cont {
    height: 50px;
    margin: 0;
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center;
    margin-top: 50px !important; 
  } 
  */

  ul.dashbord-list-item {
    margin: 0;
    padding: 0;
  }

  ul.dashbord-list-item li {
    border-bottom: 0.2px solid #999;
    padding: 0;
    cursor: pointer;
    list-style: none;
  }

  ul.dashbord-list-item li:first-child {
    border-top: 0.2px solid #999;
  }

  p.admin-text {
    color: tomato;
    opacity: 0.8;
  }

  ul.sidebar-header-ul {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  form {
    margin: 0 30px;
  }

  /* .jumbo-no-result {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .no-result-found {
    max-width: 300px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 414px) {
  #vms-logo {
    font-size: 14px;
    font-weight: bold;
  }

  h1 {
    font-size: 18px;
  }
}
